@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>慈濟科技大學 - 管理系統</title>

	<link rel="stylesheet" href="~/css/admin/bootstrap.min.css" />
	<link rel="stylesheet" href="~/libs/fontawesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/css/admin/admin.css" />


</head>
<body>
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="@Url.Action("Index", "Terms", new { Area = "Admin" })" class="navbar-brand" style="font-size:1.8em">慈濟科大管理系統</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">

						
						<li id="linkYears" style="font-size:1.2em">
							<a href="@Url.Action("Index", "Years", new { Area = "Admin" })">學年度管理</a>
						</li>
						<li id="linkTerms" style="font-size:1.2em">
							<a href="@Url.Action("Index", "Terms", new { Area = "Admin" })">學期管理</a>
						</li>
						<li id="linkDepartments" style="font-size:1.2em">
							<a href="@Url.Action("Index", "Departments", new { Area = "Admin" })">部門管理</a>
						</li>
						<li id="linkManage" style="font-size:1.2em">
							<a href="@Url.Action("Index", "Manage", new { Area = "Admin" })">使用者管理</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

	</div>
	<div id="main" class="container body-content">
		@RenderBody()

	</div>
	<hr />
	<footer id="footer" class="container">
		<p>&copy; 2017 - 慈濟科大電算中心</p>
		<alert v-show="showAlert" :show="showAlert" :type="alertSetting.type"
			   width="400px" placement="top-right" :duration=alertSetting.duration
			   v-on:closed="closeAlert">
			<i :class="alertSetting.class" aria-hidden="true"></i>
			<strong v-text="alertSetting.title"></strong>
			<p v-text="alertSetting.text"></p>
		</alert>
	</footer>

	<script type="text/javascript" src="~/libs/jquery.min.js"></script>
	<script type="text/javascript" src="~/libs/tether.min.js"></script>
	<script type="text/javascript" src="~/libs/bootstrap.min.js"></script>


	<script type="text/javascript" src="~/js/app.js"></script>

	<style>
		html * {
			font-family: "微軟正黑體", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
	</style>

	@RenderSection("Scripts", required: false)

	<script>
		$(document).ready(function () {
			var selector = '.nav li';
			$(selector).on('click', function () {

				$(selector).removeClass('active');
				$(this).addClass('active');
			});
		});

	</script>


</body>
</html >
